<%- include('_partial/head', {title: 'Logbook Mahasiswa'}); %>
<body>
    <div class="d-flex flex-row main">
        <%- include('_partial/sidebar'); %>
        <div class="container-fluid mx-4 my-4">
            <%- include('_partial/navbar', {title: 'Logbook', tanggal: tanggal}); %>
            <div class="d-flex flex-column mb-4 bimbingan">
                <p class="title">Pilih Mahasiswa</p>
                <p class="text-muted mb-2">Silahkan pilih mahasiswa terlebih dahulu untuk melanjutkan</p>
                <div id="mahasiswa" class="d-flex flex-row flex-wrap gap-3 justify-content-center" style="max-height: 80vh; overflow-y: auto;">
                    <% if (mhs) { %>
                     <% mhs.forEach(el => { %>
                        <div class="card p-0 card-mahasiswa">
                            <div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3 pt-5">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <div class="image-cropper ">
                                        <img class="mb-2 " src="http://localhost:8080/pic/<%- el.nim %> " alt="">
                                    </div>
                                    <p class="title"><%- el.nama %> </p>
                                    <p ><%- el.nim %> </p>
                                </div>
                            </div>
                            <a href="/dosen/logbook/<%- el.nim %> " class="btn btn-card" ">Pilih</a>
                        </div>
                     <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/assets/js/sidebar.js"></script>
    <script>
        // fetch('https://gateway.api.untan.ac.id/verifikasi/get/374/1364')
        // .then((res) => res.json())
        // .then((res) => {
        //     console.log(res);
        //     res.forEach(element => {
        //         let mahasiswa = document.getElementById('mahasiswa')
        //         mahasiswa.innerHTML += `<div class="card p-0 card-mahasiswa"><div class="content d-flex h-100 flex-column justify-content-between align-items-center py-3"><div class="d-flex flex-column align-items-center"><div class="image-cropper "><img class="mb-2 " src="http://localhost:8080/pic/${element.nim}" alt=""></div><p class="title">${element.nama}</p><p >${element.nim}</p></div></div><button class="btn btn-card" ">Pilih</button></div>`
        //     });
        // })
        // .catch((err) => console.error(err));
    </script>
</body>
</html>