<%- include('../_partial/head', {title: 'Detail Logbook' }) %>

  <body>
    <div class="d-flex flex-row main">
      <%- include('../_partial/sidebar') %>
        <div class="container-fluid mx-4 my-4">
          <%- include('../_partial/navbar', {title: 'Logbook' , tanggal: tanggal}) %>
            <div class="d-flex flex-column mb-4">
              <p class="title">Logbook <%- user.data.nama %>
              </p>
              <p class="text-muted mb-2">Berikut adalah data logbook <%- user.data.nama %>
              </p>
              <div class="row">
                <div class="col-3">
                  <div class="d-flex flex-column w-100 align-items-center px-4 py-4 mb-4"
                    style="color: white; background-color: #48C39F; border-radius: 10px;">
                    <div class="d-flex justify-content-center align-items-center rounded-circle"
                      style="width: 120px; height: 120px; background-color: white;">
                      <div class="image-cropper" style="width: 116px; height: 116px;">
                        <img class="mb-2 " style="width: 116px;" src="/pic/<%- user.data.username %> " alt="">
                      </div>
                    </div>
                    <p style="margin: 0; font-weight: 600;">
                      <%- user.data.nama %>
                    </p>
                    <p style="margin: 0;">
                      <%- user.data.nim %>
                    </p>
                    <p style="margin: 0;">Angkatan <%- angkatan %>
                    </p>
                  </div>
                  <div class="card d-flex flex-column px-4 py-4 w-100" style="max-height: 400px; overflow-y: auto;">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                      <p class="title">Tabel Konsultasi</p>
                      <button onclick="show()" class="btn" style="color: #48C39F;">+ Tambah</button>
                    </div>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sesi</th>
                          <th>Tanggal</th>
                          <th>#</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-9">
                  <div class="d-flex mb-4" id="buttonSesi">
                    <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                      <a href="#" class="stretched-link">Sesi Ke-1</a>
                    </div>
                    <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                      <p>Sesi Ke-1</p>
                    </div>
                    <div class="card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                      <p>Sesi Ke-1</p>
                    </div>
                  </div>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item mb-4">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <b>Notes / Masalah</b>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                          <form id="formMasalah" action="#" method="POST">
                            <label for="">Judul</label>
                            <input type="text" name="titleMasalah" value="" class="form-control mb-2"
                              placeholder="Tulis judul dari catatan atau kendala anda disini">
                            <label for="">Notes / Masalah</label>
                            <textarea class="form-control" name="contentMasalah" rows="4"
                              placeholder="Tulis catatan atau kendala anda disini"></textarea>
                            <div class="d-flex w-100 justify-content-end">
                              <button type="submit" id="buttonMasalah" class="btn btn-primary px-3 my-2"><span
                                  class="iconly-Send icli"></span></button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-4">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <b>Hal Yang Harus Dilakukan</b>
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                        <div class="accordion-body">
                          <textarea class="form-control" name="contentAction" rows="4"
                            placeholder="hal yang harus anda lakukan" disabled></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item mb-4">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <b>Lampiran</b>
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                        <div class="accordion-body">
                          <div class="mb-3">
                            <form id="formLampiran" action="#" method="post">
                              <label for="formFile" class="form-label">Masukkan lampiran dengan format pdf</label>
                              <div class="d-flex">
                                <input class="form-control" type="file" name="lampiran">
                                <button class="btn btn-primary px-2 mx-2"><span
                                    class="iconly-Send icli"></span></button>
                              </div>
                            </form>
                            <div class="card">
                              <div class="card-body" id="iframepdf">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTambahSesi" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tambah Sesi Konsultasi</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating mb-3">
              <input type="date" name="tanggalSesiKonsultasi" class="form-control" id="floatingInput"
                placeholder="Pilih Tanggal Untuk Sesi Konsultasi Berikutnya">
              <label for="floatingInput">Pilih Tanggal Untuk Sesi Konsultasi Berikutnya</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <button id="simpanSesiKonsultasi" onclick="submitForm()" type="button"
              class="btn btn-primary">Simpan</button>
          </div>
        </div>
      </div>
    </div>
    <%- include('../_partial/include_js') %>
      <script>
        const modalTambah = $('#modalTambahSesi')
        let token = document.cookie.match(new RegExp('(^| )' + 'AuthToken' + '=([^;]+)'))[2];
        token = token.replace('AuthToken=', '');
        let idLogbook = ''

        $(document).ready(() => {
          getAllSesi();
        })

        function show() {
          modalTambah.modal('show')
        }

        function getAllSesi() {
          let token = document.cookie.match(new RegExp('(^| )' + 'AuthToken' + '=([^;]+)'))[2];
          token = token.replace('AuthToken=', '');
          const nim = '<%- user.data.username %>';
          const table = $('.table tbody')
          const data = $.ajax({
            method: 'GET',
            headers: {
              Authorization: `Bearer ${token}`
            },
            url: `/api/logbook/${nim}`,
          })
            .done((data) => {
              let row = ``;
              let button = ``;
              $.each(data.data, (key, val) => {
                button += `
                <div id="${val._id}" class="button-sesi card d-flex flex-row justify-content-center align-items-center px-4 py-3 mx-2">
                    <a href="#" onclick="showLogbook('${val._id}')" class="stretched-link">Sesi Ke-${key + 1}</a>
                </div>
            `
                row += `
            <tr><td>Ke - ${key + 1}</td>
                <td>${new Date(val.date).toLocaleDateString()}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-light" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="iconly-Setting icli" style="color: #48C39F;"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" onclick="hapusSesi('${val._id}')">Hapus</a></li>
                      </ul>
                      </div>
                      </td>
                      </tr>
                      `
                // <li><a class="dropdown-item" href="#">Edit</a></li>
              })
              table.html(row);
              $('#buttonSesi').html(button);
            })
            .fail((err) => {
              console.log(err);
              Swal.fire({
                title: 'Gagal mengambil data',
                text: err.textStatus,
                icon: 'error',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
            });
        }

        function showLogbook(id) {
          idLogbook = id;
          const button = $('.button-sesi')
          $.each(button, function (key, val) {
            if (val.id === idLogbook) {
              $(val).css('border', '1px solid #48C39F').children('a').css('color', '#48C39F')
            } else {
              $(val).css('border', "1px solid rgba(0,0,0,.125)").children('a').css('color', 'black')
            }
          })
          $.ajax({
            url: `/api/logbook/id/${id}`,
            method: 'GET',
            headers: { Authorization: `Bearer ${token}` }
          })
            .done(function (data) {
              if (data.data.notes) {
                $('#buttonMasalah').hide()
                $('input[name="titleMasalah"]').val(data.data.notes.title).attr('disabled', true)
                $('textarea[name="contentMasalah"]').val(data.data.notes.content).attr('disabled', true)
              } else {
                $('#buttonMasalah').show()
                $('input[name="titleMasalah"]').val('').attr('disabled', false)
                $('textarea[name="contentMasalah"]').val('').attr('disabled', false)
              }
              if (data.data.actions) {
                $('input[name="contentAction"]').val(data.data.actions.content)
              } else {
                $('input[name="contentAction"]').val('')

              }
              if (data.data.attachments) {
                $('#formLampiran').hide()
                $('#iframepdf').show().html(`<object data="/storage/${data.data.attachments.file}" type="application/pdf" width="100%" height="500px"><iframe src="https://docs.google.com/viewer?url=/storage/${data.data.attachments.file}&embedded=true" width="100%"></iframe></object>`)
              } else {
                $('#formLampiran').show()
                $('#iframepdf').hide().html('')
              }
              console.log(data);
            })
            .fail(function (err, jQxHr, status) {
              Swal.fire({
                title: 'Gagal menambahkan data',
                text: err.textStatus,
                icon: 'error',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
              console.log(err);
            })
        }

        function submitForm() {
          const data = {
            namaMahasiswa: '<%- user.data.nama %>',
            nimMahasiswa: '<%- user.data.username %>',
            date: $('input[name="tanggalSesiKonsultasi"]').val(),
            namaDosen: '<%- dosenPa.data.dosen %>',
            nipDosen: '<%- dosenPa.data.nip %>'
          };
          console.log(data);
          $.ajax({
            method: 'POST',
            url: `/api/logbook`,
            headers: {
              Authorization: `Bearer ${token}`,
              'Content-Type': 'application/json'
            },
            data: JSON.stringify(data),
          })
            .done((data) => {
              console.log(data);
              modalTambah.modal('hide');
              getAllSesi();
              Swal.fire({
                title: 'Berhasil menambahkan data',
                text: '',
                icon: 'success',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
            })
            .fail((err) => {
              console.log(err);
              Swal.fire({
                title: 'Server Error',
                text: err.statusText,
                icon: 'error',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
              alert(err.statusText);
            })
        }

        $('#formMasalah').submit(function (e) {
          e.preventDefault()
          console.log('submit form masalah');
          if (idLogbook === '') {
            Swal.fire({
              title: 'Silahkan pilih sesi',
              text: '',
              icon: 'warning',
              confirmButtonText: 'Tutup',
              timer: 1500
            })
            return
          }
          const data = {
            notes: {
              title: $('input[name="titleMasalah"]').val(),
              content: $('textarea[name="contentMasalah"]').val(),
            }
          }
          console.log(data);
          $.ajax({
            method: 'PUT',
            url: `/api/logbook/id/${idLogbook}`,
            headers: {
              Authorization: `Bearer ${token}`,
              'Content-Type': 'application/json'
            },
            data: JSON.stringify(data)
          })
            .done(function (data) {
              console.log(data);
              Swal.fire({
                title: 'Berhasil input masalah',
                text: '',
                icon: 'success',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
              getAllSesi()
              showLogbook(data.data._id)
            })
            .fail(function (error) {
              console.log(error);
              Swal.fire({
                title: 'Server Error',
                text: error.statusText,
                icon: 'error',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
            })
        })

        $('#formLampiran').submit(function (e) {
          e.preventDefault()
          if (idLogbook === '') {
            Swal.fire({
              title: 'Silahkan pilih sesi',
              text: '',
              icon: 'warning',
              confirmButtonText: 'Tutup',
              timer: 1500
            })
            return
          }
          let form = $(this)
          let formData = new FormData(form[0])
          for (let pair of formData.entries()) {
            console.log(pair[0] + ", " + pair[1]);
          }
          $.ajax({
            method: 'PUT',
            url: `/api/logbook/id/${idLogbook}`,
            headers: {
              Authorization: `Bearer ${token}`,
              Accept: 'application/json'
            },
            processData: false,
            mimeType: 'multipart/form-data',
            cache: false,
            contentType: false,
            data: formData,
          })
          .done(function (data) {
            data = JSON.parse(data)
            console.log(data);
            form[0].reset()
            Swal.fire({
              title: 'Berhasil menambahkan lampiran',
              text: '',
              icon: 'success',
              confirmButtonText: 'Tutup',
              timer: 1500
            });
            getAllSesi()
            showLogbook(data.data._id)
          })
          .fail(function (err) {
            console.error(err);
            Swal.fire({
              title: 'Gagal menambahkan lampiran',
              text: err.textStatus,
              icon: 'error',
              confirmButtonText: 'Tutup',
              timer: 1500
            });
          })
        })

        function hapusSesi(id) {
          $.ajax({
            method: 'DELETE',
            url: `/api/logbook/id/${id}`,
            headers: {
              Authorization: `Bearer ${token}`,
              'Content-Type': 'application/json'
            },
          })
            .done(function (data) {
              console.log(data);
              getAllSesi()
              Swal.fire({
                title: 'Berhasil menghapus sesi',
                text: '',
                icon: 'success',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
            })
            .fail(function (err) {
              Swal.fire({
                title: 'Gagal menghapus sesi',
                text: err.statusText,
                icon: 'error',
                confirmButtonText: 'Tutup',
                timer: 1500
              })
            })
        }

      </script>
  </body>

  </html>